<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>姓名</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入" [formControlName]="'name'" [attr.id]="'name'" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>工号</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入" [formControlName]="'eid'" [attr.id]="'eid'" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="8">
            <button nz-button [nzType]="'primary'">
                <span nz-icon nzType="user-add"></span>
                添加员工
            </button>
        </div>
        <div nz-col [nzSpan]="16" class="search-area">
            <button nz-button [nzType]="'primary'" nzGhost>
                <span nz-icon nzType="search"></span>
                查找
            </button>
            <button nz-button (click)="resetForm()" nzDanger>
                <span nz-icon nzType="delete"></span>
                清空
            </button>
        </div>
    </div>
</form>
<div class="search-result-list">
    <nz-empty></nz-empty> 
</div>