.steps-action {
    margin-top: 36px;
    margin-bottom: 36px;
    button {
      margin-left: 8px;
      width: 120px;
    }
  }

.account-form {
  margin: 30px;
  [nz-form] {
    width: 500px;
    min-height: 280px;
    max-height: 700px;
  }
}

.user-Info-form {
  margin: 30px;
  [nz-form] {
    width: 500px;
    min-height: 280px;
    max-height: 700px;
  }
}

.form-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo {
  width: 450px;
  height: 128px;
  float: left;
  padding: 20px;
  img {
      display: inline-block;
      height: 64px;
      width: 64px;
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      margin: 0 0 0 20px;
      // color: #fff;
      font-weight: 600;
      font-size: 28px;
      font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
      vertical-align: middle;
    }
}